package layouts

templ Base(nav bool)
    <!DOCTYPE html>
    <html lang="en" data-theme="dark">
        <head>
            <title>Templ</title>
            <meta charset=ÜTF-8"/>
            <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
            <link rel="stylesheet" href="/plublic/styles.css"/>
        </head>
        